<h1>Edit Your Comment</h1>

<!-- Comment Form -->

<%= form_for @comment, url:activity_comment_path(@activity) do |f| %>
    <div class="form-group">
        <label>Your comment here:</label>
        <%= f.text_area :body, placeholder: "Comment on this...", class: "form-control", rows: "3" %>
    </div>
    <%= f.submit class:"btn btn-success" %>
<% end %>
<!-- -->