<% if flash[:danger] %>
    <div class="alert alert-danger">
        <%= flash[:danger] %>
    </div>
<% end %>

<% if params[:q] %>
    <h1>Search results for: <%= params[:q] %></h1>
<% else %>
    <h1>All Activities</h1>
<% end %>

<% @activities.each_slice(3) do |row| %>
    <div class="row">
        <% row.each do |a| %>
            <div class="col-sm-4">
                <div class="card">
                    <%= image_tag(a.image_url, class: "card-img")%>
                <div class="card-body">
                    <h5 class="card-title"><%= link_to(a.name, activity_path(a))%></h5>
                </div>
                </div>
            </div>
            <% end %>
        </div>
<% end %>

