<% if flash[:danger] %>
    <div class="alert alert-danger">
        <%= flash[:danger] %>
    </div>
<% end %>

<% if params[:q] %>
    <h1>Search results for: <%= params[:q] %></h1>
<% else %>
    <h1>All Activities</h1>
<% end %>

<ul>
    <% @activities.each do |a| %>
        <li>
            <%= link_to(image_tag(a.image_url), activity_path(a))%>
            <%= link_to(a.name, activity_path(a))%>
            
        </li>
    <% end %>
</ul>

